@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
}

@font-face {
    font-family: "abc";
    src: url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html,
body {
    height: 100%;
    width: 100%;
    background: #A59DB2;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;
}

#page1 {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    position: relative;
    z-index: 1;

}

.menu1 {
    height: 300%;
    width: 40%;
    background: #bbaaaac9;
    position: absolute;

    z-index: 1000;
    top: 35%;
    right: 1%;
    display: flex;
    flex-direction: column;


}

.menu i {
    display: none;
}

.menu i:hover {
    color: #2ea3b7;
}

.menu1 {
    display: none;
}

.menu1 i {
    position: absolute;
    right: 10px;
    top: 5%;
    font-size: 4vw;
    cursor: pointer;
    color: #fff;

}

.menu1 a {
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

#main img {
    height: 210px;
    width: 378px;
    position: relative;
    top: 30%;
    left: 60%;
    transform: translateX(-60%);
    transition: 0.5s;
    z-index: 999;
    cursor: pointer;



}

#main img:hover {
    z-index: 999;
    transform: translateX(-20%) rotate(0deg) scale(0.7, 0.7);
    transition: all ease 0.5s;
}

#main h1 {
    position: absolute;
    top: 20%;
    left: 13%;
    transform: translateX(20%);
    font-weight: 400;
    font-size: 5vw;
    color: aliceblue;
    letter-spacing: 0.8vw;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
}



#main h2 {
    position: absolute;
    top: 58%;
    left: 30%;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(5%);
    font-weight: 500;
    font-size: 5.3vw;
    z-index: 9999;
    color: aliceblue;
    letter-spacing: 0.5vw;
    font-family: "Poppins";

}

#main .full {
    position: absolute;
    bottom: 20%;
    display: none;
    color: aliceblue;
    font-family: cursive;
    font-weight: 300;
    display: flex;
    cursor: pointer;
    transform: translateX(220%);
}

h4 span {
    color: rgb(64, 113, 76);
}

h5 {
    position: absolute;
    width: 100%;
    text-align: center;

    bottom: 5%;
    color: #f4370d;
    word-spacing: nowrap;
    z-index: 999;
    text-transform: uppercase;
    font-size: 3vw;
    left: 50%;
    transform: translate(-50%);
}

.nav {
    position: fixed;
    top: 0;

    width: 100%;
    height: 10%;
    padding: 3vh 4vw;
    background: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(198, 93, 12);
    z-index: 99999;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #031D1A;
    background-image: url("logo1.jpg");
    background-size: cover;

}

.nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    gap: 2vw;
    position: relative;
    margin-left: 3vw;
    color: rgb(252, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.menu a::after {
    content: "";
    width: 0;
    height: 2px;

    background: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all ease 0.5s;
}

.menu a:hover::after {
    width: 100%;

}

.menu1 a::after {
    content: "";
    width: 0;
    height: 2px;

    background: rgb(18, 18, 18);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all ease 0.5s;
}

.menu1 a:hover::after {
    width: 100%;


}

.info {
    height: 20%;
    width: 55%;

    position: absolute;
    left: 2%;
    top: 34%;
    font-family: poppins;
    padding: 10px 10px;

}



.page2 {
    width: 100%;
    height: 100%;
    background: #A59DB2;
    position: relative;
}

.page2 video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.main2 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 0%;

    background: transparent;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}



.page3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #A59DB2;
    position: relative;

}

.page4 h1 {
    color: #333;
    font-weight: 700;
    position: relative;
    top: 5vh;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
}




.main2 .text {
    font-size: 20vw;
    color: transparent;
    -webkit-text-stroke: 4px black;
    text-align: center;
    background-image: url("moon.jpg");
    background-size: cover;
    background-clip: text;
    font-family: "Poppins";
}



.page3 .text2 {
    font-size: 34vw;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    color: #f3f3f3;
    left: 30%;
    top: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.page4 {
    width: 100%;
    height: 100vh;
    background: #A59DB2;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.page4 span {
    color: #e9d00e;
}

.process-wrapper {
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container {
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    z-index: 0;
    margin-top: 65px;
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 3;
    position: absolute;
    width: 100%;
    margin-top: -40px
}

#progress-bar-container li:before {
    content: " ";
    display: flex;
    margin: auto;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    border: solid 2px #9d1a1a;
    transition: all ease 0.3s;

}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
    border: solid 2px #fff;

    background: linear-gradient(to right, #E91E63 0%, #fff 100%);
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 5px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #444;
}

#progress-bar-container li:after {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: #777;
    margin: auto;
    border: solid 7px #fff;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;

}

#progress-bar-container li:hover:after {
    background: #555;
}

#progress-bar-container li.active:after {
    background: #207893;
}

#progress-bar-container #line {
    width: 80%;
    margin: auto;
    background: #eee;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 3%;
    height: 100%;
    background: #207893;
    background: linear-gradient(to right, #207893 0%, #2ea3b7 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 90%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
    overflow: auto;

}

#progress-content-section .section-content {
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
}

#progress-content-section .section-content p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}

#progress-content-section .section-content {
    display: none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    transform: translateY(15px);
    opacity: 0;
}

#progress-content-section .section-content.active {
    display: block;
}



@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.box1,
.page5 .box01 {
    height: 220px;
    width: 400px;
    background: rgba(255, 255, 255, 0.471);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-image: url("front-end.jpg");
    background-size: cover;
    position: absolute;
    top: -100px;
    left: 3%;
}

.box2,
.page5 .box02 {
    height: 220px;
    width: 400px;
    background: rgba(255, 255, 255, 0.471);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-image: url("backend.jpg");
    background-size: cover;
    position: absolute;
    bottom: 35%;
    left: 3%;
}

.box3,
.page5 .box03 {
    height: 220px;
    width: 400px;
    background: rgba(255, 255, 255, 0.471);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-image: url("javascript.jpeg");
    background-size: cover;
    position: absolute;
    top: -100px;
    right: 3%;
}

.box4,
.page5 .box04 {
    height: 220px;
    width: 400px;
    background: rgba(255, 255, 255, 0.471);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-image: url("pyton.jpeg");
    background-size: cover;
    position: absolute;
    bottom: 35%;
    right: 3%;
}

.page5 {
    width: 100%;
    height: 100%;
    background: #A59DB2;
    position: relative;
    display: flex;
    border-top: 2px solid #f3f3f3;

}

.page5left {
    width: 40%;
    height: 100vh;
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    border-right: 2px solid rgb(254, 254, 254);
}

.page5right {
    width: 60%;
    height: 100%;
    /* overflow: scroll; */


}

.head {
    width: 100%;
}


.projectimg1 {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    border-radius: 22px;
    border: 1px solid gray;
    background-image: url("resumeforpc.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease 0.5s;
    scale: 0.7;
    cursor: pointer;


}

.projectimg1:hover {
    box-shadow: 0px 0px 10px rgb(221, 77, 58);
    transition: all ease 0.5s;
    scale: 1;
}

.projectimg2 {
    width: 100%;
    height: 50%;
    margin-top: 20px;
    border-radius: 22px;
    border: 1px solid gray;
    background-image: url("educateforpc.png");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    transition: all ease 0.5s;
    scale: 0.7;
    cursor: pointer;
}

.projectimg2:hover {
    box-shadow: 0px 0px 10px rgb(221, 77, 58);
    transition: all ease 0.5s;
    scale: 1;
}

.page5right h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.7vw;
    text-align: center;
    margin-top: 4vh;
    background: linear-gradient(rgb(233, 60, 86), rgb(64, 143, 109));
    color: transparent;
    background-clip: text;
    -webkit-text-stroke: 0.5px black;
    font-family: "poppins";

}

.project-content {
    height: 80%;
    width: 100%;



}

.contenor {
    position: relative;
    margin-top: 5%;
    margin-left: 10px;


}

.content-text {
    overflow: hidden;
    color: #f3f3f3;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    transition: all ease 0.5s;
    animation: typing 4s steps(40, end) infinite;
}

.content-text span {
    color: #e31919;
}

.content {
    position: relative;
    width: 100%;
}

.first-box {
    width: 100%;
    height: 100%;
    padding: 10%;
    margin-top: 10%;
    overflow: hidden;

    background: #a894c6;

    display: none;


}

.second-box {
    width: 100%;
    height: 100%;
    padding: 10%;
    margin-top: 10%;
    background: #a894c6;
    display: none;


}

.pgbtn {
    padding: 10px;
    margin-top: 40px;
    border-radius: 50px;
    border: none;
    text-align: center;
    position: relative;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);


}

.pgbtn:hover {
    box-shadow: 0px 0px 10px rgb(168, 64, 64);
    background: #000;
    color: #fff;
}

.page6 {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.page6 h1 {
    font-size: 10vw;
    -webkit-text-stroke: 2px black;
    color: transparent;
    background-image: url("colorfull.jpg");
    background-clip: text;
    cursor: pointer;

}


table {
    width: 100%;
    margin-top: 8vh;
    border: 1px solid rgb(244, 241, 236);
    padding: 2%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

thead {
    width: 100%;
    border: 1px solid black;
}

th {
    height: 6vh;
    width: 20vw;
    margin-left: 10px;
    text-align: center;
    padding: 10px;
}


tbody {
    width: 100%;
    border: 1px solid black;
}

td {
    height: 10vh;
    width: 20vw;
    text-align: center;
}

.page7 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;


}

.page7 h1 {
    font-size: 6vw;
    width: 100%;
    height: 20%;
    border-bottom: 1px solid white;
    -webkit-text-stroke: 2px black;
    color: transparent;
    border-bottom: 1px solid black;
    text-align: center;
    background-image: url("colorfull.jpg");
    background-clip: text;
    cursor: pointer;

}

.contact-box {
    font-family: Arial, sans-serif;
    background-color: #A59DB2;
    display: flex;
    justify-content: center;
    padding: 50px;

    align-items: center;
    height: 100%;
    margin: 0;
}

.contact-form-container {
    background-color: #ffffff77;
    backdrop-filter: blur(10px);
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    width: 100%;
    margin-left: 20px;
    max-width: 400px;
    height: 100%;

    transition: all ease 0.5s;
}

.contact-form-container:hover {
    box-shadow: 0px 0px 20px orange;

    transition: all ease 0.5s;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #4cae4c;
}








@keyframes typing {
    from {
        width: 0%;

    }

    to {
        width: 100%;
    }

}



@media screen and (max-width:900px) {
    .nav {
        position: absolute;
    }

    .nav .menu a {
        display: none;
    }

    .menu1 {
        display: flex;
        color: aliceblue;
        height: 500%;
    }

    #main .full {
        bottom: 30%;
        left: 8vw;
        text-align: center;
        transform: translateX(40%);
        display: none;
    }

    .info {
        position: absolute;
        bottom: 8%;
        top: 70%;

        margin-left: 1vw;
        padding: 0px 10px;
        width: 100%;
        height: 40%;
        font-size: 2.5vw;
        font-weight: 700;

    }

    .menu i {
        display: flex;
        color: #fff;
        cursor: pointer;
    }

    #main img:hover {
        z-index: 999;
        transform: translateX(-50%) rotate(0deg) scale(0.7, 0.7);
        transition: all ease 0.5s;
    }

    #main h1 {
        top: 25%;
    }

    #main h2 {
        top: 60%;
    }

    h5 {
        font-size: 4.5vw;
        bottom: 10%;
        color: #e9651e;

    }

    #main img {
        left: 60%;
    }

    .skillboxes {
        flex-wrap: wrap;
        gap: 3vw;
        margin-top: 0;

    }

    .text hr {
        display: none;
    }

    .main2 .text {
        height: 10%;
    }

    .skillbox:hover {
        transform: translateY(5vh);
    }

    .page3 {
        height: 30%;



    }



    .page4 h1 {
        color: #333;
        font-weight: 700;
        position: relative;
        top: 15vh;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 23px;
    }


    #progress-bar-container li .step-inner {
        position: absolute;
        width: 100%;
        bottom: 0;
        font-size: 10px;
    }

    #progress-bar-container li:after {
        margin-top: 40%;
    }

    #progress-bar-container ul {
        margin-top: 10%;
    }

    #progress-content-section {
        margin-top: 10%;
    }

    #progress-bar-container #line {
        margin-top: 18%;
    }

    .step-inner {
        color: #fff;
    }

    .main2 .text {
        top: 50%;
    }

    .box1 {
        height: 100px;
        width: 200px;
        left: 15%;
        border-radius: 10px;
        background-position: center;
    }

    .box2 {
        height: 100px;
        width: 200px;
        top: 40%;
        left: 18%;
        border-radius: 10px;
        background-position: center;
    }

    .box3 {
        height: 100px;
        width: 200px;
        top: 14%;
        right: 8%;
        border-radius: 10px;
        background-position: center;
    }

    .box4 {
        height: 100px;
        width: 200px;
        right: 15%;
        bottom: 25%;
        border-radius: 10px;
        background-position: center;
    }


    .projectimg1 {
        width: 100%;
        height: 30%;
        margin-top: 50px;
        border-radius: 22px;
        border: 1px solid gray;
        background-image: url("resumeformobile.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all ease 0.5s;
        scale: 0.7;


    }

    .projectimg1:hover {
        box-shadow: 0px 0px 10px rgb(221, 77, 58);
        transition: all ease 0.5s;
        scale: 1;
    }

    .projectimg2 {
        width: 100%;
        height: 30%;
        margin-top: 20px;
        border-radius: 22px;
        border: 1px solid gray;
        background-image: url("educateformobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 20px;
        transition: all ease 0.5s;
        scale: 0.7;
    }

    .projectimg2:hover {
        box-shadow: 0px 0px 10px rgb(221, 77, 58);
        transition: all ease 0.5s;
        scale: 1;
    }

    .content-text {
        overflow: hidden;
        color: #f3f3f3;
        font-size: 4vw;
        font-weight: 700;
        border-right: 0.15em solid orange;

        transition: all ease 0.5s;
        animation: none;

    }

    .content {
        overflow: auto;
    }

    .project-content {
        height: 80%;
        width: 100%;
        overflow: scroll;


    }

    .page6 {
        padding: 50px;
        overflow: hidden;
    }

    table {
        padding: 0;
        border: none;
    }


    th {
        font-size: 2vw;
    }


}
